<div class="dialog_overlay">
  @if (this.store.page().loading === false) {
    <div class="result">
      <p>Проект создан</p>
    </div>
  }
  <form class="dialog_wrapper" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="dialog_header">
      <div class="dialog_heading">
        <h2>Новый проект</h2>
        <p>Заполни базовую информацию о проекте.</p>
      </div>
      <app-ui-button type="button" (pressed)="close.emit()" styles="default">×</app-ui-button>
    </div>
    <div class="dialog_container">
      <div class="dialog_field">
        <label class="dialog_label" for="dialog_value">Название проекта</label>
        <app-ui-input
          id="dialog_value"
          type="text"
          formControlName="title"
          placeholder="Например, Mobile app redesign"
        />
      </div>

      <div class="dialog_field">
        <label class="dialog_label" for="dialog_description">Описание</label>
        <app-ui-textarea
          id="dialog_description"
          formControlName="description"
          placeholder="Коротко опиши цель или контекст проекта"
        />
      </div>

      <div class="dialog_field">
        <label class="dialog_label" for="dialog_status">Статус проекта</label>
        <select id="dialog_status" class="dialog_select" formControlName="status">
          @for (status of statusOptions; track status) {
            <option [value]="status">{{ status }}</option>
          }
        </select>
      </div>
    </div>
    <div class="dialog_actions">
      <app-ui-button type="button" (pressed)="close.emit()" styles="default">Отмена</app-ui-button>
      <app-ui-button type="submit" styles="actions">Создать</app-ui-button>
    </div>
  </form>
</div>
