@if(store.projectPage(); as project){
<section class="project-page">
  <div class="project-shell">
    <div class="project-page__header">
      <div class="project-page__heading">
        <h2>Проекты</h2>
        <p>Список всех доступных проектов.</p>
      </div>
      <app-ui-button (pressed)="openCreateProject()">+</app-ui-button>
    </div>

    @if (isCreateProject()) {
      <app-project-dialog (close)="closeCreateProject()"></app-project-dialog>
    }
    @if (isSelectedProject()){
      <app-select-project
        [projectId]="selectedProjectId()"
        (close)="closeSelectedProject()"
      ></app-select-project>
    }
    <ul class="project-list">
      @for (projectTem of project; track projectTem.projectId) {
        @let projectId = projectTem.projectId!;
        <li class="project-card" (click)="store.detailOfProject({ projectId })">
          <div class="project-card__title">
            {{ projectTem.title }}
          </div>
          <div
            class="project-card__status"
            [class.project-card__status--todo]="projectTem.status === 'TODO'"
            [class.project-card__status--not-started]="projectTem.status === 'NOT_STARTED' || !projectTem.status"
            [class.project-card__status--in-progress]="projectTem.status === 'IN_PROGRESS'"
            [class.project-card__status--in-review]="projectTem.status === 'IN_REVIEW'"
            [class.project-card__status--done]="projectTem.status === 'DONE'"
          >
              {{ projectTem.status || 'NOT_STARTED' }}
          </div>

          <div class="project-card__description">
            {{ projectTem.description || 'Без описания' }}
          </div>
          <div class="project-card__actions">
            <app-ui-button type="button" (pressed)="openSelectedProject(projectId)">✎</app-ui-button>
            <app-ui-button type="button" (pressed)="store.deleteProject({ projectId })" >⌫</app-ui-button>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
}
